<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                </tr>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.first_name}">Mostrar Nombre</td>
                    <td th:text="${persona.last_name}">Mostrar Apellido</td>
                    <td th:text="${persona.email}">Mostrar Email</td>
                </tr>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            La lista de personas está vacía
        </div>
        
    </body>
</html>